[DEFAULT]
user=ocid1.user.oc1..aaaaaaaapewi36ummxnp2633w2okiymfp56pwkyfux5awsqu2ljlguiwha3a
fingerprint=1d:83:21:17:df:62:9f:25:20:e8:0e:1f:25:93:74:01
tenancy=ocid1.tenancy.oc1..aaaaaaaafxl6kfehyfjttn3fmuz2d6lnw2nrc6v7g2v2t4xk74327hrzyqwa
region=ap-mumbai-1
key_file=C:\Users\Admin\Desktop\Assingment\10Paisa\backend\certificate\oci.config

Fingerprint:1d:83:21:17:df:62:9f:25:20:e8:0e:1f:25:93:74:01

auth_token:<JY2_Mva6gQ_Pdmg)MOR